# Auto detect text files and perform LF normalization
* text=auto

# GLB files are binary
*.glb binary
*.gltf binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.svg binary
*.ico binary

